.header {
  width: 880px;
  padding: 45px 0 40px;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  align-self: center;
}


@media screen and (max-width: 890px) {
  .header {
    width: calc(100% / 1.4);
    padding: 28px 0 31.6px;
  }

}

@media screen and (max-width: 325px) {
  .header {
    width:100%;

  }
}
